h3 {
  text-decoration: underline;
  text-align: center;
  padding-bottom: 10px;
}

.center {
  text-align: center;
  padding-bottom: 10px;
}

.btn {
  border-width: 2px;
  border-style: solid;
  border-color:  rgb(36, 209, 240);
}